@import url(lib/jquery.gridster.css);
@import url(lib/medium.css);
@font-face {
  font-family: 'u47';
  src: url("../type/u47/2760F4_0_0.eot");
  src: url("../type/u47/2760F4_0_0.eot?#iefix") format("embedded-opentype"), url("../type/u47/2760F4_0_0.woff") format("woff"), url("../type/u47/2760F4_0_0.ttf") format("truetype"), url("../type/u47/2760F4_0_0.svg#wf") format("svg"); }

@font-face {
  font-family: 'u39';
  src: url("../type/u39/276103_0_0.eot");
  src: url("../type/u39/276103_0_0.eot?#iefix") format("embedded-opentype"), url("../type/u39/276103_0_0.woff") format("woff"), url("../type/u39/276103_0_0.ttf") format("truetype"), url("../type/u39/276103_0_0.svg#wf") format("svg"); }

@font-face {
  font-family: 'u67';
  src: url("../type/u67/276103_1_0.eot");
  src: url("../type/u67/276103_1_0.eot?#iefix") format("embedded-opentype"), url("../type/u67/276103_1_0.woff") format("woff"), url("../type/u67/276103_1_0.ttf") format("truetype"), url("../type/u67/276103_1_0.svg#wf") format("svg"); }

@font-face {
  font-family: 'wxFont';
  src: url("../type/wx/weathericons-regular-webfont.eot");
  src: url("../type/wx/weathericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../type/wx/weathericons-regular-webfont.woff") format("woff"), url("../type/wx/weathericons-regular-webfont.ttf") format("truetype"), url("../type/wx/weathericons-regular-webfont.svg#wf") format("svg"); }

::selection {
  /*background: #;*/ }

::-moz-selection {
  /*background: #;*/ }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a img {
  border: none; }

html {
  height: 100%;
  font-family: u47;
  font-size: 16px; }

body {
  margin: 0;
  padding: 10px 0px 0px;
  background: #FDF4D7;
  font-family: u47;
  color: #444; }

input, textarea {
  font-family: u47;
  font-size: 14px;
  padding: 2px;
  margin: 0px;
  border: 0px;
  width: 100%;
  outline: 0px; }

.container {
  margin: auto;
  max-width: 1024px; }

#master {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%; }

.addCell {
  cursor: pointer; }

.grid {
  margin: auto; }
  .grid .cell {
    list-style: none;
    margin: 0px;
    border-radius: 5px;
    overflow: hidden; }
    .grid .cell .gaze,
    .grid .cell .wristwatch,
    .grid .cell .addCell,
    .grid .cell .list {
      background-color: white;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px; }
    .grid .cell .gaze,
    .grid .cell .wristwatch,
    .grid .cell .list .grab {
      cursor: all-scroll; }
  .grid .cell .gaze {
    background-size: cover;
    background-position: center center; }
    .grid .cell .gaze .logo {
      position: absolute;
      height: 120px;
      width: 120px;
      top: 50%;
      left: 50%;
      margin: -60px 0px 0px -60px;
      background-image: url(../images/logo.png);
      background-size: 100px 100px;
      background-position: center center;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 110px;
      background-repeat: no-repeat; }
  .grid .cell .wristwatch {
    display: table; }
    .grid .cell .wristwatch .status {
      position: absolute;
      top: 5px;
      left: 5px;
      width: 25px;
      height: 25px;
      opacity: 0;
      background-image: url(../images/spritesheet.png);
      background-size: 50px auto; }
      .grid .cell .wristwatch .status.online, .grid .cell .wristwatch .status.local {
        opacity: 1; }
      .grid .cell .wristwatch .status.online {
        background-position: 0; }
      .grid .cell .wristwatch .status.local {
        background-position: -25; }
    .grid .cell .wristwatch .wx, .grid .cell .wristwatch .date {
      position: absolute;
      font-size: 14px;
      margin: 0px; }
    .grid .cell .wristwatch .wx {
      top: 5px;
      right: 5px; }
      .grid .cell .wristwatch .wx .deg, .grid .cell .wristwatch .wx .icon {
        position: relative;
        float: right; }
      .grid .cell .wristwatch .wx .deg {
        margin: 2px 0px 0px 5px; }
        .grid .cell .wristwatch .wx .deg:after {
          content: "\00b0"; }
      .grid .cell .wristwatch .wx .icon:before {
        height: 100%;
        width: 100%;
        display: block;
        font-family: wxFont; }
      .grid .cell .wristwatch .wx .w_day_200:before,
      .grid .cell .wristwatch .wx .w_day_201:before,
      .grid .cell .wristwatch .wx .w_day_202:before,
      .grid .cell .wristwatch .wx .w_day_210:before,
      .grid .cell .wristwatch .wx .w_day_211:before,
      .grid .cell .wristwatch .wx .w_day_212:before,
      .grid .cell .wristwatch .wx .w_day_221:before,
      .grid .cell .wristwatch .wx .w_day_230:before,
      .grid .cell .wristwatch .wx .w_day_231:before,
      .grid .cell .wristwatch .wx .w_day_232:before {
        content: "\f00e"; }
      .grid .cell .wristwatch .wx .w_day_300:before,
      .grid .cell .wristwatch .wx .w_day_301:before,
      .grid .cell .wristwatch .wx .w_day_302:before,
      .grid .cell .wristwatch .wx .w_day_310:before,
      .grid .cell .wristwatch .wx .w_day_311:before,
      .grid .cell .wristwatch .wx .w_day_312:before,
      .grid .cell .wristwatch .wx .w_day_321:before {
        content: "\f00b"; }
      .grid .cell .wristwatch .wx .w_day_500:before,
      .grid .cell .wristwatch .wx .w_day_501:before,
      .grid .cell .wristwatch .wx .w_day_502:before,
      .grid .cell .wristwatch .wx .w_day_503:before,
      .grid .cell .wristwatch .wx .w_day_504:before,
      .grid .cell .wristwatch .wx .w_day_511:before,
      .grid .cell .wristwatch .wx .w_day_520:before,
      .grid .cell .wristwatch .wx .w_day_521:before,
      .grid .cell .wristwatch .wx .w_day_522:before {
        content: "\f009"; }
      .grid .cell .wristwatch .wx .w_day_600:before,
      .grid .cell .wristwatch .wx .w_day_601:before,
      .grid .cell .wristwatch .wx .w_day_602:before,
      .grid .cell .wristwatch .wx .w_day_611:before,
      .grid .cell .wristwatch .wx .w_day_621:before {
        content: "\f00a"; }
      .grid .cell .wristwatch .wx .w_day_701:before,
      .grid .cell .wristwatch .wx .w_day_711:before,
      .grid .cell .wristwatch .wx .w_day_721:before,
      .grid .cell .wristwatch .wx .w_day_731:before,
      .grid .cell .wristwatch .wx .w_day_741:before {
        content: "\f003"; }
      .grid .cell .wristwatch .wx .w_day_800:before {
        content: "\f00d"; }
      .grid .cell .wristwatch .wx .w_day_801:before {
        content: "\f002"; }
      .grid .cell .wristwatch .wx .w_day_802:before {
        content: "\f002"; }
      .grid .cell .wristwatch .wx .w_day_803:before {
        content: "\f002"; }
      .grid .cell .wristwatch .wx .w_day_804:before {
        content: "\f013"; }
      .grid .cell .wristwatch .wx .w_day_900:before {
        content: "\f056"; }
      .grid .cell .wristwatch .wx .w_day_901:before {
        content: "\f050"; }
      .grid .cell .wristwatch .wx .w_day_902:before {
        content: "\f050"; }
      .grid .cell .wristwatch .wx .w_day_903:before {
        content: "\f053"; }
      .grid .cell .wristwatch .wx .w_day_904:before {
        content: "\f055"; }
      .grid .cell .wristwatch .wx .w_day_905:before {
        content: "\f021"; }
      .grid .cell .wristwatch .wx .w_day_906:before {
        content: "\f01d"; }
      .grid .cell .wristwatch .wx .w_night_200:before,
      .grid .cell .wristwatch .wx .w_night_201:before,
      .grid .cell .wristwatch .wx .w_night_202:before,
      .grid .cell .wristwatch .wx .w_night_210:before,
      .grid .cell .wristwatch .wx .w_night_211:before,
      .grid .cell .wristwatch .wx .w_night_212:before,
      .grid .cell .wristwatch .wx .w_night_221:before,
      .grid .cell .wristwatch .wx .w_night_230:before,
      .grid .cell .wristwatch .wx .w_night_231:before,
      .grid .cell .wristwatch .wx .w_night_232:before {
        content: "\f02c"; }
      .grid .cell .wristwatch .wx .w_night_300:before,
      .grid .cell .wristwatch .wx .w_night_301:before,
      .grid .cell .wristwatch .wx .w_night_302:before,
      .grid .cell .wristwatch .wx .w_night_310:before,
      .grid .cell .wristwatch .wx .w_night_311:before,
      .grid .cell .wristwatch .wx .w_night_312:before,
      .grid .cell .wristwatch .wx .w_night_321:before {
        content: "\f039"; }
      .grid .cell .wristwatch .wx .w_night_500:before,
      .grid .cell .wristwatch .wx .w_night_501:before,
      .grid .cell .wristwatch .wx .w_night_502:before,
      .grid .cell .wristwatch .wx .w_night_503:before,
      .grid .cell .wristwatch .wx .w_night_504:before,
      .grid .cell .wristwatch .wx .w_night_511:before,
      .grid .cell .wristwatch .wx .w_night_520:before,
      .grid .cell .wristwatch .wx .w_night_521:before,
      .grid .cell .wristwatch .wx .w_night_522:before {
        content: "\f037"; }
      .grid .cell .wristwatch .wx .w_night_600:before,
      .grid .cell .wristwatch .wx .w_night_601:before,
      .grid .cell .wristwatch .wx .w_night_602:before,
      .grid .cell .wristwatch .wx .w_night_611:before,
      .grid .cell .wristwatch .wx .w_night_621:before {
        content: "\f038"; }
      .grid .cell .wristwatch .wx .w_night_701:before,
      .grid .cell .wristwatch .wx .w_night_711:before,
      .grid .cell .wristwatch .wx .w_night_721:before,
      .grid .cell .wristwatch .wx .w_night_731:before,
      .grid .cell .wristwatch .wx .w_night_741:before {
        content: "\f04a"; }
      .grid .cell .wristwatch .wx .w_night_800:before {
        content: "\f02e"; }
      .grid .cell .wristwatch .wx .w_night_801:before {
        content: "\f031"; }
      .grid .cell .wristwatch .wx .w_night_802:before {
        content: "\f031"; }
      .grid .cell .wristwatch .wx .w_night_803:before {
        content: "\f031"; }
      .grid .cell .wristwatch .wx .w_night_804:before {
        content: "\f013"; }
      .grid .cell .wristwatch .wx .w_night_900:before {
        content: "\f056"; }
      .grid .cell .wristwatch .wx .w_night_901:before {
        content: "\f050"; }
      .grid .cell .wristwatch .wx .w_night_902:before {
        content: "\f050"; }
      .grid .cell .wristwatch .wx .w_night_903:before {
        content: "\f053"; }
      .grid .cell .wristwatch .wx .w_night_904:before {
        content: "\f055"; }
      .grid .cell .wristwatch .wx .w_night_905:before {
        content: "\f021"; }
      .grid .cell .wristwatch .wx .w_night_906:before {
        content: "\f01d"; }
    .grid .cell .wristwatch .time {
      height: 58px;
      width: 100%;
      position: absolute;
      top: 50%;
      margin-top: -28px;
      text-align: center;
      font-family: u39;
      font-size: 75px;
      font-weight: normal;
      line-height: 70px; }
    .grid .cell .wristwatch .date {
      left: 0px;
      width: 100%;
      bottom: 5px; }
      .grid .cell .wristwatch .date .today {
        font-family: u67; }
  .grid .cell .addCell {
    border-radius: 1000px; }
    .grid .cell .addCell span {
      position: absolute;
      background-color: #444444; }
    .grid .cell .addCell .vert {
      height: 50%;
      width: 1px;
      top: 50%;
      left: 50%;
      margin: -25% 0px 0px -1px; }
    .grid .cell .addCell .horiz {
      width: 50%;
      height: 1px;
      top: 50%;
      left: 50%;
      margin: -1px 0px 0px -25%; }
  .grid .cell .list .cellHead {
    position: absolute;
    height: 40px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 10;
    border-bottom: 1px #444444 solid; }
    .grid .cell .list .cellHead .title {
      border: 0px;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      padding: 10px 10px 10px 25px;
      font-family: u67;
      font-size: 16px;
      color: #444444; }
      .grid .cell .list .cellHead .title:focus {
        outline: none; }
  .grid .cell .list .cellEdit {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 50px 10px 10px 15px;
    color: #444444;
    text-align: left;
    overflow: scroll; }
    .grid .cell .list .cellEdit .textarea-container {
      position: relative;
      width: 100%; }
      .grid .cell .list .cellEdit .textarea-container .grabber {
        position: absolute;
        left: 0px;
        width: 30px;
        height: 25px;
        cursor: pointer;
        z-index: 1; }
        .grid .cell .list .cellEdit .textarea-container .grabber span {
          height: 20px;
          width: 1px;
          background-color: #ccc;
          position: absolute;
          top: 0px;
          left: 10px;
          border-radius: 0px;
          -webkit-transition: all 0.1s ease-in-out;
          -moz-transition: all 0.1s ease-in-out;
          -o-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out; }
      .grid .cell .list .cellEdit .textarea-container textarea, .grid .cell .list .cellEdit .textarea-container .sizer {
        min-height: 25px;
        font-size: 14px;
        overflow: hidden;
        width: 100%; }
      .grid .cell .list .cellEdit .textarea-container textarea {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        padding-left: 20px;
        resize: none;
        white-space: normal;
        -webkit-transition: padding-left 0.1s ease-in-out;
        -moz-transition: padding-left 0.1s ease-in-out;
        -o-transition: padding-left 0.1s ease-in-out;
        transition: padding-left 0.1s ease-in-out; }
      .grid .cell .list .cellEdit .textarea-container .sizer {
        visibility: hidden;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow-wrap: break-word; }
    .grid .cell .list .cellEdit .grabbed {
      padding-left: 25px; }
      .grid .cell .list .cellEdit .grabbed .grabber span {
        width: 10px;
        height: 10px;
        left: 6px;
        top: 5px;
        border-radius: 50px; }
      .grid .cell .list .cellEdit .grabbed textarea {
        padding-left: 25px; }
  .grid .cell .list .grab {
    position: absolute;
    width: 15px;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #444444;
    z-index: 10; }
