@import url(lib/jquery.gridster.css);
@import url(lib/medium.css);
@font-face {
  font-family: 'u47';
  src: url("../type/u47/2760F4_0_0.eot");
  src: url("../type/u47/2760F4_0_0.eot?#iefix") format("embedded-opentype"), url("../type/u47/2760F4_0_0.woff") format("woff"), url("../type/u47/2760F4_0_0.ttf") format("truetype"), url("../type/u47/2760F4_0_0.svg#wf") format("svg"); }

@font-face {
  font-family: 'u39';
  src: url("../type/u39/276103_0_0.eot");
  src: url("../type/u39/276103_0_0.eot?#iefix") format("embedded-opentype"), url("../type/u39/276103_0_0.woff") format("woff"), url("../type/u39/276103_0_0.ttf") format("truetype"), url("../type/u39/276103_0_0.svg#wf") format("svg"); }

@font-face {
  font-family: 'u67';
  src: url("../type/u67/276103_1_0.eot");
  src: url("../type/u67/276103_1_0.eot?#iefix") format("embedded-opentype"), url("../type/u67/276103_1_0.woff") format("woff"), url("../type/u67/276103_1_0.ttf") format("truetype"), url("../type/u67/276103_1_0.svg#wf") format("svg"); }

@font-face {
  font-family: 'wxFont';
  src: url("../type/wx/weathericons-regular-webfont.eot");
  src: url("../type/wx/weathericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../type/wx/weathericons-regular-webfont.woff") format("woff"), url("../type/wx/weathericons-regular-webfont.ttf") format("truetype"), url("../type/wx/weathericons-regular-webfont.svg#wf") format("svg"); }

::selection {
  /*background: #;*/ }

::-moz-selection {
  /*background: #;*/ }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a img {
  border: none; }

html {
  height: 100%;
  font-family: u47;
  font-size: 16px; }

body {
  margin: 0;
  padding: 0px;
  background-color: #024959;
  font-family: u47;
  color: #f2efdc; }

input, textarea {
  font-family: u47;
  font-size: 14px;
  padding: 2px;
  margin: 0px;
  border: 0px;
  width: 100%;
  outline: 0px; }

.container {
  margin: auto;
  max-width: 1024px; }

#master {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%; }

.addCell {
  cursor: pointer; }

.grid {
  margin: auto; }
  .grid .cell {
    list-style: none;
    margin: 0px;
    border-radius: 5px;
    overflow: hidden; }
    .grid .cell .gaze,
    .grid .cell .wristwatch,
    .grid .cell .addCell,
    .grid .cell .list {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px; }
    .grid .cell .gaze,
    .grid .cell .wristwatch,
    .grid .cell .list .grab {
      cursor: all-scroll; }
  .grid .cell .gaze {
    background-size: cover;
    background-position: center center;
    border: 4px #f2efdc solid; }
    .grid .cell .gaze .logo {
      position: absolute;
      height: 120px;
      width: 120px;
      top: 50%;
      left: 50%;
      margin: -60px 0px 0px -60px;
      background-image: url(../images/logo.png);
      background-size: 100px 100px;
      background-position: center center;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 110px;
      background-repeat: no-repeat; }
  .grid .cell .wristwatch {
    display: table; }
    .grid .cell .wristwatch .status {
      position: absolute;
      top: 5px;
      left: 5px;
      width: 25px;
      height: 25px;
      opacity: 0;
      background-image: url(../images/spritesheet.png);
      background-size: 50px auto; }
      .grid .cell .wristwatch .status.online, .grid .cell .wristwatch .status.local {
        opacity: 1; }
      .grid .cell .wristwatch .status.online {
        background-position: 0; }
      .grid .cell .wristwatch .status.local {
        background-position: -25; }
    .grid .cell .wristwatch .wx, .grid .cell .wristwatch .date {
      position: absolute;
      font-size: 14px;
      margin: 0px; }
    .grid .cell .wristwatch .wx {
      top: 5px;
      right: 5px; }
      .grid .cell .wristwatch .wx .deg, .grid .cell .wristwatch .wx .icon {
        position: relative;
        float: right; }
      .grid .cell .wristwatch .wx .deg {
        margin: 2px 0px 0px 5px; }
        .grid .cell .wristwatch .wx .deg:after {
          content: "\00b0"; }
      .grid .cell .wristwatch .wx .icon:before {
        height: 100%;
        width: 100%;
        display: block;
        font-family: wxFont; }
      .grid .cell .wristwatch .wx .w_day_200:before,
      .grid .cell .wristwatch .wx .w_day_201:before,
      .grid .cell .wristwatch .wx .w_day_202:before,
      .grid .cell .wristwatch .wx .w_day_210:before,
      .grid .cell .wristwatch .wx .w_day_211:before,
      .grid .cell .wristwatch .wx .w_day_212:before,
      .grid .cell .wristwatch .wx .w_day_221:before,
      .grid .cell .wristwatch .wx .w_day_230:before,
      .grid .cell .wristwatch .wx .w_day_231:before,
      .grid .cell .wristwatch .wx .w_day_232:before {
        content: "\f00e"; }
      .grid .cell .wristwatch .wx .w_day_300:before,
      .grid .cell .wristwatch .wx .w_day_301:before,
      .grid .cell .wristwatch .wx .w_day_302:before,
      .grid .cell .wristwatch .wx .w_day_310:before,
      .grid .cell .wristwatch .wx .w_day_311:before,
      .grid .cell .wristwatch .wx .w_day_312:before,
      .grid .cell .wristwatch .wx .w_day_321:before {
        content: "\f00b"; }
      .grid .cell .wristwatch .wx .w_day_500:before,
      .grid .cell .wristwatch .wx .w_day_501:before,
      .grid .cell .wristwatch .wx .w_day_502:before,
      .grid .cell .wristwatch .wx .w_day_503:before,
      .grid .cell .wristwatch .wx .w_day_504:before,
      .grid .cell .wristwatch .wx .w_day_511:before,
      .grid .cell .wristwatch .wx .w_day_520:before,
      .grid .cell .wristwatch .wx .w_day_521:before,
      .grid .cell .wristwatch .wx .w_day_522:before {
        content: "\f009"; }
      .grid .cell .wristwatch .wx .w_day_600:before,
      .grid .cell .wristwatch .wx .w_day_601:before,
      .grid .cell .wristwatch .wx .w_day_602:before,
      .grid .cell .wristwatch .wx .w_day_611:before,
      .grid .cell .wristwatch .wx .w_day_621:before {
        content: "\f00a"; }
      .grid .cell .wristwatch .wx .w_day_701:before,
      .grid .cell .wristwatch .wx .w_day_711:before,
      .grid .cell .wristwatch .wx .w_day_721:before,
      .grid .cell .wristwatch .wx .w_day_731:before,
      .grid .cell .wristwatch .wx .w_day_741:before {
        content: "\f003"; }
      .grid .cell .wristwatch .wx .w_day_800:before {
        content: "\f00d"; }
      .grid .cell .wristwatch .wx .w_day_801:before {
        content: "\f002"; }
      .grid .cell .wristwatch .wx .w_day_802:before {
        content: "\f002"; }
      .grid .cell .wristwatch .wx .w_day_803:before {
        content: "\f002"; }
      .grid .cell .wristwatch .wx .w_day_804:before {
        content: "\f013"; }
      .grid .cell .wristwatch .wx .w_day_900:before {
        content: "\f056"; }
      .grid .cell .wristwatch .wx .w_day_901:before {
        content: "\f050"; }
      .grid .cell .wristwatch .wx .w_day_902:before {
        content: "\f050"; }
      .grid .cell .wristwatch .wx .w_day_903:before {
        content: "\f053"; }
      .grid .cell .wristwatch .wx .w_day_904:before {
        content: "\f055"; }
      .grid .cell .wristwatch .wx .w_day_905:before {
        content: "\f021"; }
      .grid .cell .wristwatch .wx .w_day_906:before {
        content: "\f01d"; }
      .grid .cell .wristwatch .wx .w_night_200:before,
      .grid .cell .wristwatch .wx .w_night_201:before,
      .grid .cell .wristwatch .wx .w_night_202:before,
      .grid .cell .wristwatch .wx .w_night_210:before,
      .grid .cell .wristwatch .wx .w_night_211:before,
      .grid .cell .wristwatch .wx .w_night_212:before,
      .grid .cell .wristwatch .wx .w_night_221:before,
      .grid .cell .wristwatch .wx .w_night_230:before,
      .grid .cell .wristwatch .wx .w_night_231:before,
      .grid .cell .wristwatch .wx .w_night_232:before {
        content: "\f02c"; }
      .grid .cell .wristwatch .wx .w_night_300:before,
      .grid .cell .wristwatch .wx .w_night_301:before,
      .grid .cell .wristwatch .wx .w_night_302:before,
      .grid .cell .wristwatch .wx .w_night_310:before,
      .grid .cell .wristwatch .wx .w_night_311:before,
      .grid .cell .wristwatch .wx .w_night_312:before,
      .grid .cell .wristwatch .wx .w_night_321:before {
        content: "\f039"; }
      .grid .cell .wristwatch .wx .w_night_500:before,
      .grid .cell .wristwatch .wx .w_night_501:before,
      .grid .cell .wristwatch .wx .w_night_502:before,
      .grid .cell .wristwatch .wx .w_night_503:before,
      .grid .cell .wristwatch .wx .w_night_504:before,
      .grid .cell .wristwatch .wx .w_night_511:before,
      .grid .cell .wristwatch .wx .w_night_520:before,
      .grid .cell .wristwatch .wx .w_night_521:before,
      .grid .cell .wristwatch .wx .w_night_522:before {
        content: "\f037"; }
      .grid .cell .wristwatch .wx .w_night_600:before,
      .grid .cell .wristwatch .wx .w_night_601:before,
      .grid .cell .wristwatch .wx .w_night_602:before,
      .grid .cell .wristwatch .wx .w_night_611:before,
      .grid .cell .wristwatch .wx .w_night_621:before {
        content: "\f038"; }
      .grid .cell .wristwatch .wx .w_night_701:before,
      .grid .cell .wristwatch .wx .w_night_711:before,
      .grid .cell .wristwatch .wx .w_night_721:before,
      .grid .cell .wristwatch .wx .w_night_731:before,
      .grid .cell .wristwatch .wx .w_night_741:before {
        content: "\f04a"; }
      .grid .cell .wristwatch .wx .w_night_800:before {
        content: "\f02e"; }
      .grid .cell .wristwatch .wx .w_night_801:before {
        content: "\f031"; }
      .grid .cell .wristwatch .wx .w_night_802:before {
        content: "\f031"; }
      .grid .cell .wristwatch .wx .w_night_803:before {
        content: "\f031"; }
      .grid .cell .wristwatch .wx .w_night_804:before {
        content: "\f013"; }
      .grid .cell .wristwatch .wx .w_night_900:before {
        content: "\f056"; }
      .grid .cell .wristwatch .wx .w_night_901:before {
        content: "\f050"; }
      .grid .cell .wristwatch .wx .w_night_902:before {
        content: "\f050"; }
      .grid .cell .wristwatch .wx .w_night_903:before {
        content: "\f053"; }
      .grid .cell .wristwatch .wx .w_night_904:before {
        content: "\f055"; }
      .grid .cell .wristwatch .wx .w_night_905:before {
        content: "\f021"; }
      .grid .cell .wristwatch .wx .w_night_906:before {
        content: "\f01d"; }
    .grid .cell .wristwatch .time {
      height: 58px;
      width: 100%;
      position: absolute;
      top: 50%;
      margin-top: -28px;
      text-align: center;
      font-family: u39;
      font-size: 75px;
      font-weight: normal;
      line-height: 70px; }
    .grid .cell .wristwatch .date {
      left: 0px;
      width: 100%;
      bottom: 5px; }
      .grid .cell .wristwatch .date .today {
        font-family: u67; }
  .grid .cell .addCell {
    border-radius: 1000px; }
    .grid .cell .addCell span {
      position: absolute;
      background-color: #555555; }
    .grid .cell .addCell .vert {
      height: 50%;
      width: 1px;
      top: 50%;
      left: 50%;
      margin: -25% 0px 0px -1px; }
    .grid .cell .addCell .horiz {
      width: 50%;
      height: 1px;
      top: 50%;
      left: 50%;
      margin: -1px 0px 0px -25%; }
  .grid .cell .list {
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    cursor: text; }
    .grid .cell .list .textarea-container {
      position: relative;
      width: 100%;
      padding-bottom: 5px; }
      .grid .cell .list .textarea-container textarea, .grid .cell .list .textarea-container .sizer {
        width: 100%; }
      .grid .cell .list .textarea-container textarea {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        resize: none;
        white-space: normal;
        -webkit-transition: padding-left 0.1s ease-in-out, background-color 0.2s ease-in-out;
        -moz-transition: padding-left 0.1s ease-in-out, background-color 0.2s ease-in-out;
        -o-transition: padding-left 0.1s ease-in-out, background-color 0.2s ease-in-out;
        transition: padding-left 0.1s ease-in-out, background-color 0.2s ease-in-out;
        color: #f2efdc; }
      .grid .cell .list .textarea-container .sizer {
        visibility: hidden;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow-wrap: break-word; }
    .grid .cell .list .cellHead {
      position: relative;
      float: left;
      width: 100%;
      top: 0px;
      left: 0px;
      z-index: 10;
      border-bottom: 1px #f2efdc solid; }
      .grid .cell .list .cellHead textarea, .grid .cell .list .cellHead .sizer {
        min-height: 33px;
        padding: 8px 10px 6px 25px;
        font-family: u67; }
      .grid .cell .list .cellHead .title {
        border: 0px;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: 16px;
        color: #f2efdc; }
        .grid .cell .list .cellHead .title:focus {
          outline: none; }
    .grid .cell .list .cellEdit {
      position: relative;
      float: left;
      width: 100%;
      top: 0px;
      left: 0px;
      padding: 10px 10px 10px 15px;
      color: #f2efdc;
      text-align: left; }
      .grid .cell .list .cellEdit textarea, .grid .cell .list .cellEdit .sizer {
        min-height: 17px;
        font-size: 14px;
        line-height: 17px; }
      .grid .cell .list .cellEdit .indent0 .grabber {
        left: 0px; }
      .grid .cell .list .cellEdit .indent0 textarea {
        padding: 0px 0px 0px 20px; }
      .grid .cell .list .cellEdit .indent0 .sizer {
        padding-left: 20px; }
      .grid .cell .list .cellEdit .indent0.grabbed textarea {
        padding: 0px 0px 0px 25px; }
      .grid .cell .list .cellEdit .indent1 .grabber {
        left: 10px; }
      .grid .cell .list .cellEdit .indent1 textarea {
        padding: 0px 0px 0px 30px; }
      .grid .cell .list .cellEdit .indent1 .sizer {
        padding-left: 30px; }
      .grid .cell .list .cellEdit .indent1.grabbed textarea {
        padding: 0px 0px 0px 35px; }
      .grid .cell .list .cellEdit .indent2 .grabber {
        left: 20px; }
      .grid .cell .list .cellEdit .indent2 textarea {
        padding: 0px 0px 0px 40px; }
      .grid .cell .list .cellEdit .indent2 .sizer {
        padding-left: 40px; }
      .grid .cell .list .cellEdit .indent2.grabbed textarea {
        padding: 0px 0px 0px 45px; }
      .grid .cell .list .cellEdit .sizer {
        padding-left: 20px; }
      .grid .cell .list .cellEdit .grabber {
        position: absolute;
        width: 30px;
        height: 25px;
        cursor: row-resize;
        z-index: 1;
        -webkit-transition: left 0.1s ease-in-out;
        -moz-transition: left 0.1s ease-in-out;
        -o-transition: left 0.1s ease-in-out;
        transition: left 0.1s ease-in-out; }
        .grid .cell .list .cellEdit .grabber span {
          background-color: white;
          position: absolute;
          height: 15px;
          width: 1px;
          top: 0px;
          left: 10px;
          border-radius: 0px;
          -webkit-transition: all 0.1s ease-in-out;
          -moz-transition: all 0.1s ease-in-out;
          -o-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out; }
      .grid .cell .list .cellEdit .grabbed .grabber span {
        width: 10px;
        height: 10px;
        left: 6px;
        top: 3px;
        border-radius: 50px; }
      .grid .cell .list .cellEdit .grabbed .sizer {
        padding-left: 25px; }
    .grid .cell .list .grab {
      position: absolute;
      width: 15px;
      height: 100%;
      left: 0px;
      top: 0px;
      background-color: #f2efdc;
      z-index: 10; }
      .grid .cell .list .grab .catOpener,
      .grid .cell .list .grab .catSelect {
        position: absolute;
        cursor: pointer; }
      .grid .cell .list .grab .catOpener {
        height: 20px;
        width: 14px;
        bottom: 0px;
        left: 0px;
        z-index: 101;
        background-color: #f2efdc;
        border-top: 1px #f2efdc solid;
        -webkit-transition: background-color 0.2s ease-in-out;
        -moz-transition: background-color 0.2s ease-in-out;
        -o-transition: background-color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out; }
        .grid .cell .list .grab .catOpener > span {
          position: absolute;
          height: 7px;
          width: 7px;
          top: 6px;
          left: 4px;
          border-radius: 10px;
          display: block;
          overflow: hidden; }
          .grid .cell .list .grab .catOpener > span span {
            position: relative;
            float: left;
            height: 3px;
            width: 9px;
            -webkit-transition: background-color 0.2s ease-in-out;
            -moz-transition: background-color 0.2s ease-in-out;
            -o-transition: background-color 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out; }
      .grid .cell .list .grab .catSelect {
        top: 0px;
        z-index: 100;
        left: -14px;
        height: 100%;
        width: 14px;
        padding-bottom: 20px;
        -webkit-transition: left 0.2s ease-in-out;
        -moz-transition: left 0.2s ease-in-out;
        -o-transition: left 0.2s ease-in-out;
        transition: left 0.2s ease-in-out; }
        .grid .cell .list .grab .catSelect span {
          height: 33.3333%;
          width: 100%;
          display: block;
          position: relative;
          float: left; }
        .grid .cell .list .grab .catSelect .cat01 {
          background-color: #148490; }
        .grid .cell .list .grab .catSelect .cat02 {
          background-color: #e74c30; }
        .grid .cell .list .grab .catSelect .cat03 {
          background-color: #555555; }
      .grid .cell .list .grab.catSelecting .catOpener span {
        background-color: #f2efdc; }
      .grid .cell .list .grab.catSelecting .catSelect {
        left: 0px; }

.color00 {
  background-color: #f2efdc;
  color: #555555; }

.color01 {
  background-color: #148490; }
  .color01 textarea {
    background-color: #148490; }
  .color01 .catOpener span {
    background-color: #148490; }
  .color01 .catSelecting .catOpener {
    background-color: #148490 !important; }

.color02 {
  background-color: #e74c30; }
  .color02 textarea {
    background-color: #e74c30; }
  .color02 .catOpener span {
    background-color: #e74c30; }
  .color02 .catSelecting .catOpener {
    background-color: #e74c30 !important; }

.color03 {
  background-color: #555555; }
  .color03 textarea {
    background-color: #555555; }
  .color03 .catOpener span {
    background-color: #555555; }
  .color03 .catSelecting .catOpener {
    background-color: #555555 !important; }
