.cell .addCell{
		border-radius: 1000px;
		overflow: hidden;
		cursor:pointer;

		.add{
			height:100%;
			width:100%;
			position: absolute;
			top:0px;
			left:0px;

			span{
				position: absolute;
				background-color:$bg;
				top:50%;
				left:50%;
				@include transition(all .2s ease-in-out);
			}

			.vert{ 
				height:25%;
				width:1px;
				margin:-12.5% 0px 0px -1px;
			}

			.horiz{
				width:25%;
				height:1px;
				margin:-1px 0px 0px -12.5%;
			}
		}

		.undo{
			position: absolute;
			height: 150%;
			width: 150%;
			bottom: -95%;
			right: -95%;
			border: 1px #555555 solid;
			@include transform(rotate(45deg));
			overflow: hidden;

			@include transition(all .2s ease-in-out);

			.whoops{
				position: absolute;
				top: 40%;
				left: 0%;
				height:50px;
				width:50px; 
				overflow: hidden;

				@include iconInclude;
	 			@include iconSize(50);
				@include iconPlace(50px, 2, 0);

				@include transform(rotate(-45deg));

				@include transition(all .2s ease-in-out);
			}
		}


		&.pushPull{
			.add{
				span{
					top:32%;
					left:32%;
				}
			}

			.undo{

				bottom: -78%;
				right: -78%;
				.whoops{
					left:8%;
				}

			}
		}
	}