.grid{
	margin:auto;
	opacity:0;
	z-index: 0;
	padding-left:0px;
	position: absolute;
	left:0px;
	width:100%;
	padding:60px 10px 0;
	@include transition(all .2s ease-in-out);
	@include transform(scale(.5));

	@include desktop(){
		padding: 0 0 0 60px;
	}

	.yesLetsGo &{
		@include transform(scale(1));
		opacity:1;
		display:block;
	}

	&.sidebar-is-open{
		left:250px;

		@include desktop(){
			left:200px;
		}
	}

	ul{
	 	padding:0;
	 	margin:0px auto 10px;
	 	position: relative;
	 	left:0;
	 	width:100%;

	 	@include desktop(){
	 		left:50%;
	 		position: absolute;
	 	}

	 	// @media screen and (min-width: (1 * 210px) + 60) { width: (1 * 210px); margin-left:-((1 * 210px) / 2) + 30; }
	 	// @media screen and (min-width: (2 * 210px) + 60) { width: (2 * 210px); margin-left:-((2 * 210px) / 2) + 30; }
	 	// @media screen and (min-width: (3 * 210px) + 60) { width: (3 * 210px); margin-left:-((3 * 210px) / 2) + 30; }
	 	// @media screen and (min-width: (4 * 210px) + 60) { width: (4 * 210px); margin-left:-((4 * 210px) / 2) + 30; }
	 	// @media screen and (min-width: (5 * 210px) + 60) { width: (5 * 210px); margin-left:-((5 * 210px) / 2) + 30; }
	 	// @media screen and (min-width: (6 * 210px) + 60) { width: (6 * 210px); margin-left:-((6 * 210px) / 2) + 30; }
	 	// @media screen and (min-width: (7 * 210px) + 60) { width: (7 * 210px); margin-left:-((7 * 210px) / 2) + 30; }
	 	// @media screen and (min-width: (8 * 210px) + 60) { width: (8 * 210px); margin-left:-((8 * 210px) / 2) + 30; }

	 	// @media screen and (min-width: (1 * 210px) + 60) { width: (1 * 210px); margin-left:-((1 * 210px) / 2) + 30; }
	 	// @media screen and (min-width: (2 * 210px) + 60) { width: (2 * 210px); margin-left:-((2 * 210px) / 2) + 30; }
	 	@media screen and (min-width: 768px ) { 		   width: (3 * 210px); margin-left:-((3 * 210px) / 2); }
	 	@media screen and (min-width: (4 * 210px) + 60 ) { width: (4 * 210px); margin-left:-((4 * 210px) / 2); }
	 	@media screen and (min-width: (5 * 210px) + 60 ) { width: (5 * 210px); margin-left:-((5 * 210px) / 2); }
	 	@media screen and (min-width: (6 * 210px) + 60 ) { width: (6 * 210px); margin-left:-((6 * 210px) / 2); }
	 	@media screen and (min-width: (7 * 210px) + 60 ) { width: (7 * 210px); margin-left:-((7 * 210px) / 2); }
	 	@media screen and (min-width: (8 * 210px) + 60 ) { width: (8 * 210px); margin-left:-((8 * 210px) / 2); }
	}

	.cell{
 		list-style: none;
 		margin: 0 0 10px;
 		border-radius: 5px;
 		overflow: hidden;
 		height:200px;
 		@include transition(-webkit-box-shadow .4s ease-in-out);
 		@include transition(-moz-box-shadow .4s ease-in-out);
 		@include transition(box-shadow .4s ease-in-out);

 		@include mobile(){
 			width: 100% !important;
 		}

 		@include desktop(){
 			width:200px;
 			padding: 0;
 			margin:0;
 		}

 		.gaze,
 		.wristwatch,
 		.addCell,
 		.list{
 			height:100%;
 			width:100%;
 			position: relative;
 			top:0px;
 			left:0px;
		}

		.gaze,
		.wristwatch,
		.list .grab{
			cursor: all-scroll;
		}

		&.ui-resizable-resizing{
			@include transition(all .1s ease-in-out);
		}

		&.ui-resizable-resizing,
		&.ui-draggable-dragging{
			z-index: 10000 !important;

			-webkit-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.6);
			-moz-box-shadow:    0px 3px 8px 0px rgba(50, 50, 50, 0.6);
			box-shadow:         0px 3px 8px 0px rgba(50, 50, 50, 0.6);
		}
 	}

 	.cellPlaceholder{
 		height: 40px;
 	}
 	
 	.cell .cover{
 		height:100%;
 		width:100%;
 		position: absolute;
 		top:100%;
 		left:0px;
 		background-color:rgba($bg, .87);
 		opacity: 0;
 		z-index: 1000;
 		@include transition(opacity .5s ease-in-out);
 	}
}

@import 'grid_gaze';

@import 'grid_wristwatch';

@import 'grid_addCell';

@import 'grid_list';