// @import 'lib/jquery.gridster.css';
// @import 'lib/medium.css';

@import "bourbon";

@import 'type';

@import 'definitions';
@import 'mixins';


::selection {
	/*background: #;*/
}

::-moz-selection {
	/*background: #;*/
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
	font-family: $type_bold;
	font-weight: normal;
}

a{
	text-decoration: none;
	color:$light;
	border-bottom:1px $light dotted;
}

b{
	font-weight: normal;
	font-family:$type_bold;
}

a img {
	border: none;
}

html {
	height: 100%;
	font-family: $type_regular;
	font-size:16px;
}

body {
	margin: 0;
	padding: 10px;
	background-color: $bg;
	font-family: $type_regular;
	color: $active;
	overflow-x: hidden;
}

input, textarea {
	font-family: $type_regular;
	font-size: 14px;
	padding: 2px;
	margin:0px;
	border:0px;
	width:100%;
	outline:0px;
}

.container {
	margin: auto;
}

#master{
	position: absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
}

@import 'modal';

@import 'button';

@import 'hello';

@import 'startup';

@import 'texts';

@import 'sidebar';

@import 'grid';

@import 'colours';

@import 'weAreUpdating';

















