.modalBG{
	position: fixed;
	top:0px;
	left:0%;
	height:100%;
	width:100%;
	background-color:rgba($bg, .87);
	z-index: 800; 
	opacity: 0;
	@include transition(all .5s ease-in-out);
	@include transform(scale(1.5));

	.startingUp &,
	.viewingAbout &,
	.viewingVersion &{
		opacity:1;
		@include transform(scale(1));
	}	

	.modalClear &{
		display:none
	}


	.modalCloser{
		height:50px;
		width:50px;
		position: fixed;
		top:20px;
		left:20px;
		background-color:$light;
		border-radius: 50px;
		cursor: pointer;
		.crossbar1,
		.crossbar2{
			position: absolute;
			height:30px;
			width:1px;
			background-color:$bg;
			top:50%;
			left:50%;
			margin:-15px 0px 0px 0px;
		}

		.crossbar1{
			@include transform(rotate(45deg));
		}

		.crossbar2{
			@include transform(rotate(-45deg));
		}

		&:before{
			content:'';
			height:100%;
			width:100%;
			position: absolute;
			top:0px;
			left:0px;
			border: 1px $light solid;
			border-radius: 50px;
			@include transition(all .1s ease-in-out);
		}

		&:hover:before{
			height:120%;
			width:120%;
			top:-10%;
			left:-10%;
		}
	}
}




