.sidebar{
	position:fixed;
	width:250px;
	height:100%;
	background-color:$light;
	top:0px;
	left:-250px;
	z-index: 500;
	border-right:1px $light solid;
	opacity:0;
	overflow: hidden;

	@include transition(left .2s ease-in-out);

	.yesLetsGo &{
		left:-200px;
		opacity: 1;
	}

	&.sidebar-is-open{
		left:0px;
		.menu{
			opacity:1;
			// left:0px;
		}
	}

	.menu{
		width:100%;
		height:100%;
		position: absolute;
		top:0px;
		// left:230px;
		left:0px;
		opacity:0;
		@include transition(all .2s ease-in-out);
		li{
			color:$bg;
			list-style: none;
			width:100%;
			cursor: pointer;
			height:50px;
			display: table;
			padding:10px;
			span{
				display:table-cell;
				vertical-align: middle;
				text-transform: uppercase;
				letter-spacing: 2px;

				a{
					display:block;
					color:$bg; 
					border-bottom: 0px;
				}
			}

			&:hover{
				color:$light;
				background-color:$bg;

				a{
					color:$light;
					border-bottom: 0px;
				}
			}
		}

		form{
			margin:0px;
		}

		.units-toggle{
			position: relative;
			padding-right:50px;

			&:before,
			&:after{
				content:'';
				position: absolute;
				top:50%;
				left:50%;
				border-radius: 50px;
			}

			&:before{
				height:30px;
				width:100px;
				margin:-15px 0 0 -70px;
				border: 1px solid $bg;
			}

			&:after{
				height:26px;
				width:26px;
				margin:-13px 0 0 2px;
				background-color: $bg;
				@include transition(margin-left .2s ease-in-out);
			}

			&:hover:before{
				border: 1px solid $light;
			}

			&:hover:after{
				background-color: $light;
			}
			

			&.toggleLeft:after{
				margin-left: -68px;
			}




			span:nth-child(2){
				text-align: right;
			}
		}

		.units-temp span:after{
			content: "\00b0";
		}

		.passwordChanger,
		.feedbackForm{
			position: relative;
			float:left;
			width:100%;
			height:0px;
			overflow: hidden;
			padding:0px 10px;
			opacity:0;
			@include transition(all .2s ease-in-out);

			p{
				position: relative;
				width:100%;
				display:none;
				color:$bg;
				text-align: center;
				text-transform: uppercase;
				line-height: 170px;
				margin: 0px;
				text-align: center;
			}

			&.actionComplete{
				p {
					display:block;
				}

				input,
				textarea, button{
					display:none;
				}
			}
		}

		input,
		textarea{
			position:relative;
			float:left;
			width:100%;
			background-color:$light;
			color:$bg;
			border-top:1px solid $bg;
			border-right:1px solid $bg;
			border-left:1px solid $bg;
			padding: 12px;
			font-size: 16px;
		}

		.oldPassword{ 
			border-radius:5px 5px 0px 0px;
		}

		.passwordChanger input{
			text-align: center;
		}

		.feedbackForm textarea{
			border-radius:5px 5px 0px 0px;
			height:100px;
		}

		.changingPassword{ 
			height:170px;
			padding:10px;
			opacity:1;
			border-top:1px $bg solid;
		}

		.feedbackOpen{ 
			height:170px; 
			padding:10px;
			opacity:1;
			border-top:1px $bg solid;
		}
	}

	.side{
		position: absolute;
		height:40px;
		width:50px;
		left:200px;
		top:0px;
		z-index: 100;

		span{
			height:1px;
			width:20px;
			left:15px;
			position: absolute;
			background-color:$bg;
		}

		span:nth-of-type(1){
			top:15px;
		}

		span:nth-of-type(2){
			top:20px;
		}

		span:nth-of-type(3){
			top:25px;
		}
	}
}