#startUp{
	position: fixed;
	top:50%;
	left:50%;
	height:250px;
	width:250px;
	z-index: 1000;
	background-color: $bg;
	border:3px $light solid;
	border-radius: 250px;

	@include transition(all .5s ease-in-out);
	@include transform(scale(1.5) rotate(0deg));

	.startingUp &{
		@include transform(scale(1));
		opacity: 1;
	}

	// .modalClear &, 
	.viewingAbout &, 
	.startUp_off &{
		display:none
	}

	&:before{
		content:'';
		position: absolute;
		height:258px;
		width:258px;
		top:-7px;
		left:-7px;
		border:1px $bg solid;
		border-radius: 200px;
		@include transition(all .5s ease-in-out);
	}

	.startUpText{
		position: absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		overflow: hidden;
		@include transition(all .5s ease-in-out);

		.startUpCarousel{
			position: absolute;
			height:100%;
			width: $startupCount * 100%;
			top:0px;
			left:0px;
			@include transition(left .5s ease-in-out);

			.startUpShow{
				position: relative;
				float:left;
				height:100%;
				width:(1 / $startupCount) * 100%;
				display:table;
				padding:0px 10px;
				// opacity: 0;
				@include transition(opacity .5s ease-in-out);
				p{
					font-size:16px;
					display:table-cell;
					vertical-align: middle;
					b{
						font-weight: normal;
						font-family: $type_bold;
					}
				}
			}
		}
	}

	.startUpExit{
		position: absolute;
		top: 50%;
		left: 50%;
		height: 50px;
		width: 50px;
		margin: -90% 0 0 -20%;
		@include transform(rotate(45deg));
	}

	.startUpButtons{
		position: absolute;
		top:0px;
		left:0px;
		width:250px;
		height:310px;
		opacity:1;
		visibility: visible;
		@include transition(opacity .2s ease-in-out);

		.startUpButton{
			width: 120px;
			height: 50px;
			position: absolute;
			bottom:0px;
			border:1px $bg solid;
			background-color:$light;
			text-transform: uppercase;
			color:$bg;
			text-align: center;
			padding:0px;
			cursor: pointer;
			font-family: $type_regular;
			border-radius:5px;
			line-height: 40px;

			&:hover{
				background-color:$bg;
				color:$light;
				border:1px $light solid;
			}

			&:focus{
				outline:0px;
			}

			&:before{
				font-size:16px;
			}

			&.SUB_left{
				left:-35px;
			}
			&.SUB_right {
				right:-35px;
			}
		}
	}

	&.topLeft{
		@include transform(scale(1) rotate(-180deg));

		.startUpExit{
			margin: -70% 0 0 31%;
		}

		.startUpText{
			@include transform(rotate(180deg));
		}
	}

	&.topRight{
		@include transform(scale(1) rotate(-90deg));

		.startUpExit{
			margin:-70% 0 0 31%;
		}

		.startUpText{
			@include transform(rotate(90deg));
		}
	}

	&.rightRight{
		@include transform(scale(1) rotate(-45deg));

		.startUpExit{
			margin: -90% 0 0 -20%;
		}

		.startUpText{
			@include transform(rotate(45deg));
		}
	}

	&.leftLeft{
		@include transform(scale(1) rotate(-225deg));

		.startUpExit{
			margin: -20% 0 0 -90%;
		}

		.startUpText{
			@include transform(rotate(225deg));
		}
	}

	&.centerCenter{
		margin:-100px 0 0 -100px;
	}
}

.startUp_0,
.startUp_1,
.startUp_2,
.startUp_3,
.startUp_4,
.startUp_5,
.startUp_6,
.startUp_7,
.startUp_8,
.startUp_9{
	.grid{
		height:100%;
	}
}

.startUp_0,
.startUp_1,
.startUp_2,
.startUp_3,
.startUp_4,
.startUp_5,
.startUp_6,
.startUp_7, 
.startUp_9{
	.grid .cell .cover{
		top: 0px;
		opacity: 1;
	}
}


.startUp_0, 
.startUp_1{
	.SUB_left:before{content:'NOPE';}
	.SUB_right:before{content:'SURE';}
}

.startUp_1,
.startUp_2,
.startUp_3,
.startUp_4,
.startUp_5,
.startUp_6,
.startUp_7,
.startUp_8,
.startUp_9{
	#startUp{
		&, &:before{
			border-radius: 200px 200px 0px 200px;
		}
	}
}

.startUp_1,
.startUp_2,
.startUp_3,
.startUp_4,
.startUp_5,
.startUp_6,
.startUp_7,
.startUp_8{
	#startUp .startUpButton{
		display:none;
	}
}

.startUp_1,
.startUp_2,
.startUp_3{
	.showingList{
		position: fixed !important;
		top:50% !important;
		left:50% !important;
		z-index: 10000;
	}
}

.startUp_1,
.startUp_2,
.startUp_3,
.startUp_4{
	.grid .cell.showingList{
		@include transition(all .5s ease-in-out);
	}
}

.startUp_1,
.startUp_2,
.startUp_3,
.startUp_4,
.startUp_5,
.startUp_6{
	.grid .cell.showingList .cover{
		top:100%;
		opacity: 0;
	}
}

.startUp_0{
	#startUp{
		margin:-125px 0 0 -100px;
		@include transform(scale(1));
	}
}

.startUp_1,
.startUp_2{
	.grid .cell.showingList{
		margin: -70px 0 0 75px;
	}

	#startUp{
		margin:-125px 0 0 -250px;
		@include transform(scale(1) rotate(-45deg));

		.startUpText{
			@include transform(rotate(45deg));
		}
	}
}

.startUp_3{
	.grid .cell.showingList{
		margin: -250px 0 0 75px;
	}

	#startUp{
		margin:-125px 0 0 -250px;
		@include transform(scale(1) rotate(-45deg));

		.startUpText{
			@include transform(rotate(45deg));
		}
	}
}

.startUp_7,
.startUp_8{
	.grid .cell .addCell ~ .cover{
		top:100%;
		opacity: 0;
	}
}

.startUp_9{
	#startUp .startUpButtons{
		@include transform(rotate(-135deg));
		transform-origin: 130px 115px;
	}

	.SUB_left:before{content:'AGAIN, PLEASE';}
	.SUB_right:before{content:'SWEET';}
}

.startUp_0 #startUp .startUpCarousel{
	left: -0 * 100%;
}
.startUp_1 #startUp .startUpCarousel{
	left: -1 * 100%;
}
.startUp_2 #startUp .startUpCarousel{
	left: -2 * 100%;
}
.startUp_3 #startUp .startUpCarousel{
	left: -3 * 100%;
}
.startUp_4 #startUp .startUpCarousel{
	left: -4 * 100%;
}
.startUp_5 #startUp .startUpCarousel{
	left: -5 * 100%;
}
.startUp_6 #startUp .startUpCarousel{
	left: -6 * 100%;
}
.startUp_7 #startUp .startUpCarousel{
	left: -7 * 100%;
}
.startUp_8 #startUp .startUpCarousel{
	left: -8 * 100%;
}
.startUp_9 #startUp .startUpCarousel{
	left: -9 * 100%;
}










