::selection {
	/*background: #;*/
}

::-moz-selection {
	/*background: #;*/
}

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

.master{
	position:absolute;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
}

.top, .front, .bottom{
	position:relative;
	width:100%;
	float:left;
	.put{
		margin:auto;
		max-width:$masterwidth;
		height:100%;
		position:relative;
	}
}