@import 'lib/jquery.gridster.css';
@import 'lib/medium.css';

@font-face {
    font-family: 'u47';
    src: url('../type/u47/2760F4_0_0.eot');
    src: url('../type/u47/2760F4_0_0.eot?#iefix') format('embedded-opentype'),
         url('../type/u47/2760F4_0_0.woff') format('woff'),
         url('../type/u47/2760F4_0_0.ttf') format('truetype'),
         url('../type/u47/2760F4_0_0.svg#wf') format('svg');
}


@font-face {
    font-family: 'u39';
    src: url('../type/u39/276103_0_0.eot');
    src: url('../type/u39/276103_0_0.eot?#iefix') format('embedded-opentype'),
         url('../type/u39/276103_0_0.woff') format('woff'),
         url('../type/u39/276103_0_0.ttf') format('truetype'),
         url('../type/u39/276103_0_0.svg#wf') format('svg');
}
 
  
@font-face {
    font-family: 'u67';
    src: url('../type/u67/276103_1_0.eot');
    src: url('../type/u67/276103_1_0.eot?#iefix') format('embedded-opentype'),
         url('../type/u67/276103_1_0.woff') format('woff'),
         url('../type/u67/276103_1_0.ttf') format('truetype'),
         url('../type/u67/276103_1_0.svg#wf') format('svg');
}
 
  
@font-face {
    font-family: 'wxFont';
    src: url('../type/wx/weathericons-regular-webfont.eot');
    src: url('../type/wx/weathericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/wx/weathericons-regular-webfont.woff') format('woff'),
         url('../type/wx/weathericons-regular-webfont.ttf') format('truetype'),
         url('../type/wx/weathericons-regular-webfont.svg#wf') format('svg');
}

$dark: #444;
$light: #fff;


::selection {
	/*background: #;*/
}

::-moz-selection {
	/*background: #;*/
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a img {
	border: none;
}

html {
	height: 100%;
	font-family: u47;
	font-size:16px;
}

// body {
// 	position: relative;
// 	height:100%;
// 	margin: 0px;
// 	// border:10px $light solid;

// 	background-color:$dark;
// }

body {
	margin: 0;
	padding: 10px 0px 0px;
	background: #FDF4D7;
	font-family: u47;
	color: #444;
}

input, textarea {
	font-family: u47;
	font-size: 14px;
	padding: 2px;
	margin:0px;
	border:0px;
	width:100%;
	outline:0px;
}

.container {
	margin: auto;
	max-width: 1024px;
}

.gridster .gridster-item {
	// -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.gridster .gridster-item {
	// -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	// box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	// color: #004756;
}

.gridster .gridster-item {
	// background: #ffffff;
	// padding: 3px;
}

#master{
	position: absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;

	// padding:5px;
}

.addCell{
	cursor:pointer;

}

.grid{
	margin:auto;
	.cell{
 		list-style: none;
 		margin:0px;
 		border-radius: 5px;
 		overflow: hidden;

 		.gaze,
 		.wristwatch,
 		.addCell,
 		.list{
			background-color:$light;
 			height:100%;
 			width:100%;
 			position: absolute;
 			top:0px;
 			left:0px;

		}

		.gaze,
		.wristwatch,
		.list .grab{
			cursor: all-scroll;
		}
 	}

 	.cell .gaze{
 		background-size:cover;
 		background-position: center center;

 		.logo{
 			position: absolute;
 			height:100px;
 			width:100px;
 			top:50%;
 			left:50%;
 			margin:-50px 0px 0px -50px;
 			background-image:url(../images/logo.png);
 			background-size:cover;
 			background-position: center center
 		}
 	}

 	.cell .wristwatch{
 		display:table;

 		.wx, .date{
 			position: absolute;
 			font-size:14px;
 			margin:0px;

 		}

 		.wx{
 			top:5px;
 			right:5px;

 			.deg, .icon{
 				position: relative;
 				float:right;
 			}

 			.deg{
 				margin: 2px 0px 0px 5px;	
 				&:after{
 					content: "\00b0";
 				}
 			}
 			
 			.icon:before{
				height:100%;
				width:100%;
				display:block;
				font-family: wxFont;
 			}

 			.w200:before,
 			.w201:before,
 			.w202:before,
 			.w210:before,
 			.w211:before,
 			.w212:before,
 			.w221:before,
 			.w230:before,
 			.w231:before,
 			.w232:before{content:"\f01e";}

 			.w300:before,
 			.w301:before,
 			.w302:before,
 			.w310:before,
 			.w311:before,
 			.w312:before,
 			.w321:before{content:"\f01a";}

 			.w500:before,
 			.w501:before,
 			.w502:before,
 			.w503:before,
 			.w504:before,
 			.w511:before,
 			.w520:before,
 			.w521:before,
 			.w522:before{content:"\f019";}

 			.w600:before,
 			.w601:before,
 			.w602:before,
 			.w611:before,
 			.w621:before{content:"\f01b";}

 			.w701:before,
 			.w711:before,
 			.w721:before,
 			.w731:before,
 			.w741:before{content:"\f014";}

 			.w800:before{content:"\f00d";}
 			.w801:before{content:"\f002";}
 			.w802:before{content:"\f002";}
 			.w803:before{content:"\f002";}
 			.w804:before{content:"\f013";}

 			.w900:before{content:"\f056";}
 			.w901:before{content:"\f050";}
 			.w902:before{content:"\f050";}
 			.w903:before{content:"\f053";}
 			.w904:before{content:"\f055";}
 			.w905:before{content:"\f021";}
 			.w906:before{content:"\f01d";}
 		}

 		.time{
 			height: 58px;
 			width: 100%;
 			position: absolute;
 			top: 50%;
 			margin-top: -28px;
 			text-align: center;
 			font-family: u39;
 			font-size: 75px;
 			font-weight: normal;
 			line-height: 70px;
 		}

 		.date{
 			left:0px;
 			width:100%;
 			bottom:5px;
 			.today{font-family: u67;}
 		}
 	}

	.cell .addCell{
		border-radius: 1000px;
		
		span{
			position: absolute;
			background-color:$dark;
		}

		.vert{
			height:50%;
			width:1px;
			top:50%;
			left:50%;
			margin:-25% 0px 0px -1px;
		}

		.horiz{
			width:50%;
			height:1px;
			top:50%;
			left:50%;
			margin:-1px 0px 0px -25%;
		}
	}

	.cell .list{
		.cellHead{		
			position: absolute;
			height:40px;
			width:100%;
			top:0px;
			left:0px;
			z-index:10;
			border-bottom:1px $dark solid;
			.title{
				border:0px;
				height:100%;
				width:100%;
				position: absolute;
				top:0px;
				left:0px;
	 			padding:10px 10px 10px 25px;
	 			font-family: u67;
	 			font-size:16px;
	 			&:focus{
	 				outline:none;
 				}
			}
	}

		.cellEdit{
			position: absolute;
			height:100%;
			width:100%;
			top:0px;
			left:0px;
			padding:50px 10px 10px 25px;
		}

		.grab{
			position: absolute;
			width:15px;
			height:100%;
			left:0px;
			top:0px;
			background-color:$dark;
			z-index: 10;
			
		}
	}
}


















