<div gridster="gridsterOpts" class="grid">
	<ul>
		<li class="cell" gridster-item="item" ng-repeat="item in cells" >
			<div class="gaze grab" ng-if="item.gaze" ng-style="{ 'background-image' : gaze }">
				<div class="logo"></div>
			</div>

			<div class="wristWatch grab" ng-if="item.wristwatch">
				<span class="status" ng-class="status"></span>

				<p class="wx">
					<span class="deg" ng-bind="temp"></span>
					<span class="icon" ng-class="weather"></span>
				</p>

				<h1 class="time" ng-bind="time"></h1>

				<p class="date">
					<span class="today" ng-bind="today"></span>
					<span ng-bind="date"></span>
				</p>
			</div>

			<div class="addCell grab" ng-if="item.addcell" ng-click="addCell()" >
				<span class="vert"></span>
				<span class="horiz"></span>
			</div>

			<div class="list" ng-if="item.list" data-cellid="{{item.cellID}}">
				<div class="cellHead">
					<input class="title" type="text" ng-model="item.title"/>
				</div>
				<!-- <textarea class="cellEdit" ng-model="item.body" aTextArea ng-keyup="textArea($event.keyCode)"></textarea> -->
				<div class="cellEdit" ng-click="cellEditBody($event)">
					<ul>
						<li 
							contenteditable 
							ng-model="item.body.content"
							data-bitid="{{bit.bitID}}" 
							ng-repeat="bit in item.body"
							data-index="{{$index + 1}}"
						>{{bit.content}}</li>
					</ul>
				</div>
				<span class="grab" ng-dblClick="removeCell(item._id)"></span>
			</div>
		</li>
	</ul>
</div>
