<div gridster="gridsterOpts" class="grid">
	<ul>
		<li class="cell" gridster-item="item" ng-repeat="item in cells" >
			<div class="gaze grab" ng-if="item.gaze" ng-style="{ 'background-image' : gaze }">
				<div class="logo"></div>
			</div>

			<div class="wristWatch grab" ng-if="item.wristwatch">
				<span class="status" ng-class="status"></span>

				<p class="wx">
					<span class="deg" ng-bind="temp"></span>
					<span class="icon" ng-class="weather"></span>
				</p>

				<h1 class="time" ng-bind="time"></h1>

				<p class="date">
					<span class="today" ng-bind="today"></span>
					<span ng-bind="date"></span>
				</p>
			</div>

			<div class="addCell grab" ng-if="item.addcell" ng-click="addCell()" >
				<span class="vert"></span>
				<span class="horiz"></span>
			</div>

			<div class="list" ng-if="item.list" data-cellid="{{item.cellID}}">
				<div class="cellHead">
					<input class="title" type="text" ng-model="item.title" ng-keydown="cellTitle($event)"/>
				</div>
				<div class="cellEdit" ui-sortable="sortableOptions" ng-model="item.body" ng-click="cellEditBody($event)" >
					<div class="textarea-container" ng-repeat="bit in item.body" ng-if="bit.displayed" data-index="{{$index}}" ng-class="{grabbed : grabbing === true}">
						<span class="grabber" ng-mouseover="grabbing = true" ng-mouseleave="grabbing = false" ng-dblClick="bit.displayed = false">
							<span></span>
						</span>
					  	<textarea ng-model="bit.content" ng-keydown="areaText($event)"></textarea>
					  	<div class="sizer">{{bit.content}}</div>
					</div>
				</div>
				<span class="grab" ng-dblClick="removeCell(item._id)"></span>
			</div>
		</li>
	</ul>
</div>
