/*
looking for these? :)

border-radius: 9px;

<?php include("inc/head.html"); ?>
*/
@font-face {
  font-family: 'u57';
  src: url("../type/u57/UniversLTStd-Cn.eot");
  src: local("☺"), url("../type/u57/UniversLTStd-Cn.woff") format("woff"), url("../type/u57/UniversLTStd-Cn.ttf") format("truetype"), url("../type/u57/UniversLTStd-Cn.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'stix';
  src: url("../type/stix/STIXGeneralItalic.eot");
  src: local("☺"), url("../type/stix/STIXGeneralItalic.woff") format("woff"), url("../type/stix/STIXGeneralItalic.ttf") format("truetype"), url("../type/stix/STIXGeneralItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  font-family: u57;
  font-size: 20px;
  line-height: 24px; }

a img {
  border: none; }

a {
  border: none;
  text-decoration: none; }

p {
  margin: 0px 0px 10px; }

h1, .h1 {
  font-size: 2.60rem; }

h2, .h2 {
  font-size: 2.15rem; }

h3, .h3 {
  font-size: 1.70rem; }

h4, .h4 {
  font-size: 1.25rem; }

h5, .h5 {
  font-size: 1rem; }

h6, .h6 {
  font-size: 0.85rem; }

::selection {
  /*background: #;*/ }

::-moz-selection {
  /*background: #;*/ }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.master {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px; }

.top, .front, .bottom {
  position: relative;
  width: 100%;
  float: left; }
  .top .put, .front .put, .bottom .put {
    margin: auto;
    max-width: 1024px;
    height: 100%;
    position: relative; }

.top {
  height: 125px;
  position: fixed;
  width: 100%;
  background-image: url(../img/texturetastic_gray.png);
  z-index: 100; }

.front .top_spacer {
  height: 125px;
  width: 100%; }
.front > div:not(.top_spacer) {
  width: 100%;
  position: relative;
  padding: 140px 0;
  overflow: hidden; }
  .front > div:not(.top_spacer) .back {
    height: 150%;
    width: 100%;
    position: absolute;
    top: -25%;
    left: 0px;
    background-position: center center;
    background-size: cover; }
  .front > div:not(.top_spacer) .sec_color {
    height: 16px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 10; }
  .front > div:not(.top_spacer)#sec01 {
    z-index: 1; }
    .front > div:not(.top_spacer)#sec01 .sec_color {
      background-color: #0d7e8d; }
  .front > div:not(.top_spacer)#sec02 {
    z-index: 2; }
    .front > div:not(.top_spacer)#sec02 .sec_color {
      background-color: #730b40; }
  .front > div:not(.top_spacer)#sec03 {
    z-index: 3; }
    .front > div:not(.top_spacer)#sec03 .sec_color {
      background-color: #c02574; }
  .front > div:not(.top_spacer)#sec04 {
    z-index: 4; }
    .front > div:not(.top_spacer)#sec04 .sec_color {
      background-color: #106873; }
  .front > div:not(.top_spacer)#sec05 {
    z-index: 5; }
    .front > div:not(.top_spacer)#sec05 .sec_color {
      background-color: #cbba3b; }
  .front > div:not(.top_spacer)#sec06 {
    z-index: 6; }
    .front > div:not(.top_spacer)#sec06 .sec_color {
      background-color: #eccb24; }
  .front > div:not(.top_spacer).here .sec_color {
    position: fixed;
    top: 125px; }

@-moz-document url-prefix() {}
