$spritesheet_width:3px;
$spritesheet_cell_width:50px; 

// $type_thin: roboto_condensedlight;
// $type_regular: robotothin;
// $type_list: roboto_slabregular;
// $type_bold: robotomedium;

$type_thin: u39;
$type_regular: u47;
$type_list: u47;
$type_bold: u67;

$active: #F2EFDC;
$bg: #024959;

$color01: #148490;
$color02: #E74C30;
$color03: #555555;

$light: $active;
$dark: $color03;

$startupCount: 15;