.grid{
	margin:auto;
	opacity:0;
	z-index: 0;
	// display:none;
	padding-left:60px;
	position: absolute;
	left:0px;
	width:100%;
	height:100%;

	// @include transition(all .5s ease-in-out);
	@include transition(all .2s ease-in-out);
	@include transform(scale(.5));

	

	.yesLetsGo &{
		@include transform(scale(1));
		opacity:1;
		display:block;
	}

	&.sidebarOpen{
		left:250px;
	}

	ul{
	 	padding:0px;
	 	margin:0px auto;
	 	position: absolute !important;
	 	left:50%;
	 	width:100%;

	 	@media screen and (min-width: (1 * 210px) + 60) { width: (1 * 210px); margin-left:-((1 * 210px) / 2) + 25; }
	 	@media screen and (min-width: (2 * 210px) + 60) { width: (2 * 210px); margin-left:-((2 * 210px) / 2) + 25; }
	 	@media screen and (min-width: (3 * 210px) + 60) { width: (3 * 210px); margin-left:-((3 * 210px) / 2) + 25; }
	 	@media screen and (min-width: (4 * 210px) + 60) { width: (4 * 210px); margin-left:-((4 * 210px) / 2) + 25; }
	 	@media screen and (min-width: (5 * 210px) + 60) { width: (5 * 210px); margin-left:-((5 * 210px) / 2) + 25; }
	 	@media screen and (min-width: (6 * 210px) + 60) { width: (6 * 210px); margin-left:-((6 * 210px) / 2) + 25; }
	 	@media screen and (min-width: (7 * 210px) + 60) { width: (7 * 210px); margin-left:-((7 * 210px) / 2) + 25; }
	 	@media screen and (min-width: (8 * 210px) + 60) { width: (8 * 210px); margin-left:-((8 * 210px) / 2) + 25; }
	}

	.cell{
 		list-style: none;
 		margin:0px;
 		border-radius: 5px;
 		overflow: hidden;
 		height:200px;
 		width:200px;
 		@include transition(-webkit-box-shadow .4s ease-in-out);
 		@include transition(-moz-box-shadow .4s ease-in-out);
 		@include transition(box-shadow .4s ease-in-out);

 		.gaze,
 		.wristwatch,
 		.addCell,
 		.list{
 			height:100%;
 			width:100%;
 			position: absolute;
 			top:0px;
 			left:0px;
		}

		.gaze,
		.wristwatch,
		.list .grab{
			cursor: all-scroll;
		}

		&.ui-resizable-resizing{
			@include transition(all .1s ease-in-out);
		}

		&.ui-resizable-resizing,
		&.ui-draggable-dragging{
			z-index: 10000 !important;

			-webkit-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.6);
			-moz-box-shadow:    0px 3px 8px 0px rgba(50, 50, 50, 0.6);
			box-shadow:         0px 3px 8px 0px rgba(50, 50, 50, 0.6);
		}
 	}
 	

 	.cell .gaze{
 		background-size:cover;
 		background-position: center center;
 		border:4px $light solid;

 		.logo{
 			position: absolute;
 			height: 120px;
 			width: 120px;
 			top: 50%;
 			left: 50%;
 			margin: -60px 0px 0px -60px;
 			background-image: url(../img/logo.png);
 			background-size: 100px 100px;
 			background-position: center center;
 			background-color: rgba(0,0,0,.5);
 			border-radius: 110px;
 			background-repeat: no-repeat;
 		}
 	}

 	@import 'grid_wristwatch';

	@import 'grid_addCell';

	@import 'grid_list';
}