// @import 'lib/jquery.gridster.css';
// @import 'lib/medium.css';

@import "bourbon";

@import 'type';

@import 'definitions';
@import 'mixins';


::selection {
	/*background: #;*/
}

::-moz-selection {
	/*background: #;*/
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a img {
	border: none;
}

html {
	height: 100%;
	font-family: $type_regular;
	font-size:16px;
}

body {
	margin: 0;
	padding: 10px;
	background-color: $bg;
	font-family: $type_regular;
	color: $active;
	overflow-x: hidden;
}

input, textarea {
	font-family: $type_regular;
	font-size: 14px;
	padding: 2px;
	margin:0px;
	border:0px;
	width:100%;
	outline:0px;
}

.container {
	margin: auto;
}

#master{
	position: absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
}

.modalBG{
	position: fixed;
	top:0px;
	left:-100%;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,.5);
	z-index: 800; 
	opacity: 0;
	@include transition(opacity .5s ease-in-out);

	.startingUp &,
	.viewingAbout &{
		opacity:1;
		left:0px;
	}
}

@import 'button';
@import 'modalCloser';

@import 'hello';

@import 'startup';

@import 'about';

@import 'sidebar';

@import 'grid';

@import 'colours';

















