@font-face {
    font-family: 'u47';
    src: url('../type/u47/2760F4_0_0.eot');
    src: url('../type/u47/2760F4_0_0.eot?#iefix') format('embedded-opentype'),
         url('../type/u47/2760F4_0_0.woff') format('woff'),
         url('../type/u47/2760F4_0_0.ttf') format('truetype'),
         url('../type/u47/2760F4_0_0.svg#wf') format('svg');
}

 
@font-face {
    font-family: 'u39';
    src: url('../type/u39/276103_0_0.eot');
    src: url('../type/u39/276103_0_0.eot?#iefix') format('embedded-opentype'),
         url('../type/u39/276103_0_0.woff') format('woff'),
         url('../type/u39/276103_0_0.ttf') format('truetype'),
         url('../type/u39/276103_0_0.svg#wf') format('svg');
}
 
  
@font-face {
    font-family: 'u67';
    src: url('../type/u67/276103_1_0.eot');
    src: url('../type/u67/276103_1_0.eot?#iefix') format('embedded-opentype'),
         url('../type/u67/276103_1_0.woff') format('woff'),
         url('../type/u67/276103_1_0.ttf') format('truetype'),
         url('../type/u67/276103_1_0.svg#wf') format('svg');
}
 
  
@font-face {
    font-family: 'wxFont';
    src: url('../type/wx/weathericons-regular-webfont.eot');
    src: url('../type/wx/weathericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/wx/weathericons-regular-webfont.woff') format('woff'),
         url('../type/wx/weathericons-regular-webfont.ttf') format('truetype'),
         url('../type/wx/weathericons-regular-webfont.svg#wf') format('svg');
}