<div gridster="gridsterOpts" class="grid">
	<ul>
		<li class="cell" gridster-item="item" ng-repeat="item in cells | orderBy: ['row', 'col']" >
			<div class="gaze grab color00" ng-if="item.gaze" ng-style="{ 'background-image' : gaze }">
				<div class="logo"></div>
			</div>

			<div class="wristWatch grab color00" ng-if="item.wristwatch">
				<span class="status" ng-class="status"></span>

				<p class="wx">
					<span class="deg" ng-bind="temp"></span>
					<span class="icon" ng-class="weather"></span>
				</p>

				<h1 class="time" ng-bind="time"></h1>

				<p class="date">
					<span class="today" ng-bind="today"></span>
					<span ng-bind="date"></span>
				</p>
			</div>

			<div class="addCell grab color00" ng-if="item.addcell" ng-click="addCell()" >
				<span class="vert"></span>
				<span class="horiz"></span>
			</div>

			<div class="list" 
				ng-if="item.list" 
				data-cellid="{{item._id}}" 
				ng-click="cellEditBody($event)" 
				ng-class="{ 
					color01 : item.category === 1, 
					color02 : item.category === 2, 
					color03 : item.category === 3  
				}">
				<div class="cellHead">
					<div class="textarea-container">
					  	<textarea ng-model="item.title" class="title" ng-keydown="cellTitle($event)"></textarea>
					  	<div class="sizer">{{item.title}}</div>
					</div>
				</div>
				<div class="cellEdit" ui-sortable="sortableOptions" ng-model="item.body">
					<div 
						class="textarea-container indent{{bit.tabCount}}" 
						ng-repeat="bit in item.body"
						data-index="{{$index}}" 
						ng-class="{ grabbed : grabbing === true }">
						<span 
							class="grabber" 
							ng-mouseover="grabbing = true" 
							ng-mouseleave="grabbing = false" 
							ng-dblClick="bitKiller($event)">
							<span></span>
						</span>
					  	<textarea 
						  	ng-model="bit.content" 
						  	ng-keydown="areaText($event, bit)" 
						  	ng-keyup="areaText($event, bit)">
					  	</textarea>
					  	<div class="sizer">{{bit.content}}</div>
					</div>
				</div>
				<span class="grab" ng-dblClick="removeCell(item._id)" ng-class="{ catSelecting : catSelectTray === true }">
					<span class="catOpener" ng-click="catSelectTray = (catSelectTray !== true) ? true : false">
						<span></span>
					</span>
					<div class="catSelect">
						<span class="cat01" ng-click="catSelector($event, 1); catSelectTray = false;"></span>
						<span class="cat02" ng-click="catSelector($event, 2); catSelectTray = false;"></span>
						<span class="cat03" ng-click="catSelector($event, 3); catSelectTray = false;"></span>
					</div>
				</span>
			</div>
		</li>
	</ul>
</div>
