<div class="modalBG"></div>

<div class="hello">
	<div class="andWelcome">
		<div class="one"></div>
		<div class="two"
			ng-click="$parent.fourOpen = false; $parent.threeOpen = false;"><p><span>Tra.ject</span> <br />is notekeeping <br/> for the absent-minded.</p></div>
		<div class="three"
			ng-click="$parent.threeOpen = true; $parent.fourOpen = false;"
			ng-class="{active : $parent.threeOpen === true}">
			<div class="input">
				<form name="signUpForm">
					<input type="email" ng-model="signupEmail" name="emailSignup" placeholder="email address">
					<input type="password" ng-model="signupPassword" name="passwordSignup" placeholder="password">
				</form>
			</div>
			<button
				class="primary"
				ng-click="signUp()">sign up</button>
		</div>
		<div class="four"
			ng-click="$parent.fourOpen = true; $parent.threeOpen = false"
			ng-class="{active : $parent.fourOpen === true}">
			<div class="input">
				<form name="signInForm">
					<input type="email" ng-model="signinEmail" name="emailSignin" placeholder="email address">
					<input type="password" ng-model="signinPassword" name="passwordSignin" placeholder="password">
				</form>
			</div>
			<button
				class="primary"
				ng-click="signIn()">sign in</button>
		</div>
	</div>
</div>

<div class="startUp">
	
	<div class="startUpClose"></div>
	<div class="hello"></div>
	<div class="startUpImage">
		<div>
			<span class="top"></span>
			<span class="bottom"></span>
		</div>
	</div>
	
	<div class="startUpCarousel">
		<div class="startUpShow startUp_0 startUpCenter">
			<p>Hi there!<br />It looks like you're new to Tra.ject. Want a little intro?</p>
		</div>
		<div class="startUpShow startUp_1"> 
			<p>Everything is resizable</p>
		</div>
		<div class="startUpShow startUp_2"> 
			<p>Everything white is draggable</p>
		</div>
		<div class="startUpShow startUp_3"> 
			<p>Delete cells by '''double clicking''' on a cell's white bar</p>
		</div>
		<div class="startUpShow startUp_4"> 
			<p>Add new cells here…</p>
		</div>
		<div class="startUpShow startUp_5"> 
			<p>…and undo your last delete here</p>
		</div>
		<div class="startUpShow startUp_6"> 
			<p>All cells have titles…</p>
		</div>
		<div class="startUpShow startUp_7"> 
			<p>…and categories (changeable here)...</p>
		</div>
		<div class="startUpShow startUp_8"> 
			<p>…and all lists have points</p>
		</div>
		<div class="startUpShow startUp_9"> 
			<p>All points are also draggable</p>
		</div>
		<div class="startUpShow startUp_10">
			<p>Delete points either by using your keyboard…</p>
		</div>
		<div class="startUpShow startUp_11">
			<p>…or double clicking the point's anchor</p>
		</div>
		<div class="startUpShow startUp_12">
			<p></p>
		</div>
		<div class="startUpShow startUp_13 startUpCenter"> 
			<p>That's it!</p>
		</div>


		<button ng-bind="startUpLeft"></button>
		<button ng-bind="startUpRight"></button>
	</div>
</div>

<div class="feedback">
	
</div>

<div class="about">
	
</div>

<div class="sidebar"
	ng-class="{ sidebarOpen : sidebarOpen === true }">
	<div class="menu">
		<li class="demo" ng-click="demo()"><span>Replay Demo</span></li>

		<li class="password" 
			ng-click="changingPassword = (changingPassword !== true) ? true : false"><span>Change Password</span></li>
		<div class="passwordChanger active"
			ng-class="{ changingPassword : changingPassword === true }">
			<form name="passwordChange">
				<input type="password" ng-model="oldPassword" name="oldPassword" class="oldPassword" placeholder="OLD PASSWORD">
				<input type="password" ng-model="newPassword" name="newPassword" class="newPassword" placeholder="NEW PASSWORD">
			</form>
			<p>thanks</p>
			<button
				class="secondary"
				ng-click="changePassword($event)">change</button>
		</div>

		<li class="feedback" 
			ng-click="feedbackOpen = (feedbackOpen !== true) ? true : false"><span>Something's Broken</span></li>
		<div class="feedbackForm active"
			ng-class="{ feedbackOpen : feedbackOpen === true }">
			<textarea ng-model="feedback" placeholder="GODDAMMIT WHAT NOW"></textarea>
			<p>thanks</p>
			<button
				class="secondary"
				ng-click="sendFeedback($event)">send</button>
		</div>

		<li class="logOut" ng-click="logOut()"><span>Log Out</span></li>

		<li class="about" ng-click="about()"><span>About</span></li>
	</div>
	<div class="side"
		ng-click="sidebarOpen = (sidebarOpen !== true) ? true : false">
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>



<div class="grid"
	ng-class="{ sidebarOpen : sidebarOpen === true }"
	ng-click="sidebarOpen = changingPassword = false">
	<ul>
		<li class="cell" 
			ng-repeat="item in cells | orderBy: ['row', 'col']" 
			autonomy
			index="{{$index}}">
			<div class="cellFace gaze grab color00" 
				ng-if="item.gaze" 
				ng-style="{ 'background-image' : gaze }"
				data-cellid="{{item.id}}" >
				<div class="logo"></div>
			</div>

			<div class="cellFace wristWatch grab color00" 
				ng-if="item.wristwatch"
				data-cellid="{{item.id}}" >
				<span class="status" ng-class="status"></span>

				<p class="wx">
					<span class="deg" ng-bind="temp"></span>
					<span class="icon" ng-class="weather"></span>
				</p>

				<h1 class="time" ng-bind="time"></h1>

				<p class="date">
					<span class="today" ng-bind="today"></span>
					<span ng-bind="date"></span>
				</p>
			</div>

			<div class="cellFace addCell grab color00" 
				ng-if="item.addcell" 
				data-cellid="{{item.id}}"
				ng-class="{ pushPull : pushingPulling === true }"
				ng-mouseover="pushingPulling = true" 
				ng-mouseleave="pushingPulling = false" 
				>
				<div class="add"
					ng-click="addCell()">
					<span class="vert"></span>
					<span class="horiz"></span>
				</div>
				

				<div class="undo"
					ng-click="reviver()">
					<span class="whoops"></span>
				</div>
			</div>

			<div class="cellFace list" 
				ng-if="item.list" 
				data-cellid="{{item.id}}" 
				ng-click="cellEditBody($event)" 
				ng-class="{ 
					color01 : item.category === 1, 
					color02 : item.category === 2, 
					color03 : item.category === 3  
				}">
				<div class="cellHead">
					<div class="textarea-container">
					  	<textarea ng-model="item.title" class="title" ng-keydown="cellTitle($event)"></textarea>
					  	<div class="sizer">{{item.title}}</div>
					</div>
				</div>
				<div class="cellEdit" ui-sortable="textSort" ng-model="item.body">
					<div 
						class="textarea-container indent{{bit.tabCount}}" 
						ng-repeat="bit in item.body"
						data-index="{{$index}}" 
						ng-class="{ grabbed : grabbing === true }">
						<span 
							class="grabber" 
							ng-mouseover="grabbing = true" 
							ng-mouseleave="grabbing = false" 
							ng-dblClick="bitKiller($event)">
							<span></span>
						</span>
					  	<textarea 
						  	ng-model="bit.content" 
						  	ng-keydown="areaText($event, bit)" 
						  	ng-keyup="areaText($event, bit)">
					  	</textarea>
					  	<div class="sizer">{{bit.content}}</div>
					</div>
				</div>
				<span class="grab" ng-dblClick="removeCell(item.id)" ng-class="{ catSelecting : catSelectTray === true }">
					<span class="catOpener" ng-click="catSelectTray = (catSelectTray !== true) ? true : false">
						<span></span>
					</span>
					<div class="catSelect">
						<span class="cat01" ng-click="catSelector($event, 1); catSelectTray = false;"></span>
						<span class="cat02" ng-click="catSelector($event, 2); catSelectTray = false;"></span>
						<span class="cat03" ng-click="catSelector($event, 3); catSelectTray = false;"></span>
					</div>
				</span>
			</div>
		</li>
	</ul>
</div>
