<div class="modalCloser"
	ng-click="modalCloser()">
	<div class="crossbar1"></div>
	<div class="crossbar2"></div>
</div>

<div class="logo"></div>
<div class="text">
	<p><b>Tra.ject</b> is a pet project of Mike Fischer.</p>
	<p>It is set entirely in Univers: 39, 47 and 67.</p>
	<p>It is built with <a href="https://angularjs.org/" target="_blank">Angular.js</a> and <a href="http://hood.ie/" target="_blank">Hoodie,</a> powering the front and back ends, respectively.</p>
	<p>It uses <a href="http://packery.metafizzy.co/" target="_blank">Packery</a> to become both cellular and responsive, <a href="http://angular-ui.github.io/" target="_blank">Angular UI</a> to become sortable, and <a href="http://momentjs.com/" target="_blank">Moment.js</a> to keep time.</p>
	<p>It gets images from the <a href="https://www.flickr.com/services/api/" target="_blank">Flickr API</a>, weather from <a href="http://openweathermap.org/" target="_blank">Open Weather Map,</a> and weather icons from <a href="http://erikflowers.github.io/weather-icons/" target="_blank">Eric Flowers.</a></p>
	<p>Among other things, it is the product of social and creative frustration.</p>
	<p>It is still very much in beta.</p>
	<p>A mobile version of Tra.ject is coming soon.</p>
	<p>&copy; 2015 Mike Fischer</p>
</div>