<div class="modalBG" 
	ng-click="modalCloser()">
	<div class="modalCloser">
		<div class="crossbar1"></div>
		<div class="crossbar2"></div>
	</div>
</div>

<div class="hello">
	<div class="andWelcome">
		<div class="one"></div>
		<div class="two"
			ng-click="$parent.fourOpen = false; $parent.threeOpen = false;">
			<p><span>Tra.ject</span> <br />is notekeeping <br/> for the absent-minded.<br /><br />It is currently in open beta.</p>
		</div>
		<div class="three"
			ng-click="$parent.threeOpen = true; $parent.fourOpen = false;"
			ng-class="{
				active : $parent.threeOpen === true,
				inactive : $parent.fourOpen === true
			}">
			<form name="signUpForm">
				<div class="input">
					<!-- <p class="error">Please try again.</p> -->
					<input type="email" ng-model="signupEmail" name="emailSignup" placeholder="email address">
					<input type="password" ng-model="signupPassword" name="passwordSignup" placeholder="password">
					<p class="disclaimer">I will never sell your email. Ever.</p>
				</div>
				<button
					type="submit"
					class="primary"
					ng-click="signUp()">
					sign up
				</button>
			</form>
		</div>
		<div class="four"
			ng-click="$parent.fourOpen = true; $parent.threeOpen = false"
			ng-class="{
				active : $parent.fourOpen === true,
				inactive : $parent.threeOpen === true
			}">
			<form name="signInForm">
				<div class="input">
					<!-- <p class="error">Please try again.</p> -->
					<input type="email" ng-model="signinEmail" name="emailSignin" placeholder="email address">
					<input type="password" ng-model="signinPassword" name="passwordSignin" placeholder="password">
				</div>
					<button
						type="submit"
						class="primary"
						ng-click="signIn()">
						sign in
					</button>
			</form>
		</div>
	</div>

	<p class="homepageCopyright">&copy; 2015 MTO'BF</p>
</div>

<div id="startUp"
	ng-class="startUpOrient"
	ng-style="{ 
		'left' : startUp_X,
		'top' : startUp_Y
	}">
	<!-- <div class="startUpImage">
		<div class="shadow"></div>
		<div class="cursor"></div>
		<div class="doubleclick"></div>
	</div> -->

	<div class="startUpText">
		<div class="startUpCarousel">
			<div class="startUpShow SUS_0">
				<p>Hi there! It looks like you're new to Tra.ject. Want a quick demo?</p>
			</div>

			<div class="startUpShow SUS_1">
				<p>This is a cell. It has a title and a bunch of bits. You can move bits around super quick by dragging it by its point. Try it!</p>
			</div>

			<div class="startUpShow SUS_2">
				<p>Nice! You can either delete bits by double clicking the point, or the old fashioned way with your keyboard. Give it a shot, I don't mind. :)</p>
			</div>

			<div class="startUpShow SUS_3">
				<p>Not all cells are the same! Clicking on the dot will let you change a cells' category. See for yourself! </p>
			</div>

			<div class="startUpShow SUS_4">
				<p>Awesome. You pick this up quick! Everything can be resized from its edge. Try it!</p>
			</div>

			<div class="startUpShow SUS_5">
				<p>And you can move things around by grabbing onto the white parts. Try it!</p>
			</div>

			<div class="startUpShow SUS_6">
				<p>If you need to delete a cell, just double click on the white bar. Give it a shot!</p>
			</div>

			<div class="startUpShow SUS_7">
				<p>Oh no! That was my favorite cell! Never you fear – you can undo your last delete here. Try it out!</p>
			</div>

			<div class="startUpShow SUS_8">
				<p>Or, what the hey – let's make a brand new cell!</p>
			</div>

			<div class="startUpShow SUS_9">
				<p>Administrative-type things are in the sidebar, including the way to get back to this little demo. If anything breaks or isn't like it should be, let me know! :) That's it!</p>
			</div>

		</div>
	</div>

	<div class="startUpExit"
		ng-click="startUpCloser()">
		<div class="modalCloser">
			<div class="crossbar1"></div>
			<div class="crossbar2"></div>
		</div>
	</div>

	<div class="startUpButtons">
		<button type="button" class="startUpButton SUB_left" ng-click="SUB_left()"></button>
		<button type="button" class="startUpButton SUB_right" ng-click="SUB_right(true)"></button>
	</div>
</div>

<div class="aboutTraject"
	ng-include src="'assets/views/about.html'">
	
</div>

<div class="versioning"
	ng-include src="'assets/views/version.html'">	
</div>

<div
	class="sidebar sidebar-is-{{ sidebarStatus }}"
	ng-mouseover="sidebarStatus = 'open'" 
	ng-mouseleave="sidebarStatus = 'closed'"
	>
	<div class="menu">
		<li class="demo" ng-click="demo()"><span>Replay Demo</span></li>

		<li class="units-temp units-toggle"
			ng-click="tempUnitsChange()"
			ng-class="{ toggleLeft : meta.celsius === true }"
			ng-model="meta.celsius">
			<span>C</span>
			<span>F</span>
		</li>

		<li class="units-time units-toggle"
			ng-click="timeUnitsChange()"
			ng-class="{ toggleLeft : meta.twentyfour === true }"
			ng-model="meta.twentyfour">
			<span>24h</span>
			<span>12h</span>
		</li>

		<li class="password" 
			ng-click="changingPassword = (changingPassword !== true) ? true : false"><span>Change Password</span></li>
		<div class="passwordChanger active"
			ng-class="{ changingPassword : changingPassword === true }">
			<form name="passwordChange">
				<input type="password" ng-model="oldPassword" name="oldPassword" class="oldPassword" placeholder="YOUR OLD PASSWORD HERE">
				<input type="password" ng-model="newPassword" name="newPassword" class="newPassword" placeholder="YOUR NEW PASSWORD HERE">
			</form>
			<p>thanks</p>
			<button
				class="secondary"
				ng-click="changePassword($event)">change</button>
		</div>

		<li class="feedback"><span><a href="mailto:e@ject.ch?subject=something%27s%20broken&body=hi!%20thanks%20for%20taking%20the%20time%20to%20give%20feedback%20--%20every%20little%20bit%20helps.%20you%20can%20delete%20this%20little%20message%2C%20but%20please%20be%20as%20specific%20as%20possible%3A%20steps%20leading%20up%20to%20your%20problem%2C%20what%20you%27re%20trying%20to%20do%2C%20the%20current%20phase%20of%20the%20moon%3B%20literally%20everything%20helps%2C%20and%20nothing%20is%20too%20small.%20thanks%20again!">Something's Broken</a></span></li>
		
		<li class="feedback"><span><a href="mailto:e@ject.ch?subject=something%27s%20missing&body=hi!%20thanks%20for%20taking%20the%20time%20to%20give%20feedback%2C%20I%20really%20REALLY%20appreciate%20it.%20it%27s%20with%20your%20help%20that%20TRA.JECT%20will%20get%20better!%20feel%20free%20to%20delete%20this%20message%2C%20but%20please%20remember%20that%20no%20input%20is%20too%20small.%20thanks%20again!">Something's Missing</a></span></li>

		<li class="logOut" ng-click="logOut(); sidebarOpen = false"><span>Log Out</span></li>

		<li class="version" 
			ng-click="versionOpener()">
			<span>Version Notes</span></li>

		<li class="about" 
			ng-click="aboutOpener()">
			<span>About</span></li>
	</div>
	<div class="side">
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>

<div class="weAreUpdating">
	<div class="plshold">
		<h1>Hold on a minute</h1>
		<p>I have to update something real quick.</p>
		<p>The app will reload when I'm done.</p>
	</div>
</div>

<div class="mobile_header"
	ng-class="{ sidebarOpen : sidebarStatus === 'open' }">
	<div class="menu"
		ng-click="sidebarStatus = (sidebarStatus !== 'open') ? 'open' : 'closed'">
		<span></span>
		<span></span>
		<span></span>	
	</div>
	<div class="undo"
		ng-click="reviver()">
		<span class="whoops"></span>
	</div>
	<div class="add"
		ng-click="addCell()">

		<span class="vert"></span>
		<span class="horiz"></span>
	</div>
</div>

<div class="grid sidebar-is-{{ sidebarStatus }}"
	ng-click="changingPassword = false">
	<ul
		ng-if="columnCount !== 1">

		<li class="cell" 
			ng-repeat="item in cells | orderBy: ['row', 'col']" 
			ng-class="{ 
				parent_addCell : item.addcell === true,
				parent_wristWatch : item.wristwatch === true,
				parent_gaze : item.gaze === true,
				parent_list : item.list === true 
			}"
			autonomy
			ng-if="item.displayed === true"
			data-index="{{$index}}"
			ng-include src="'assets/views/listGuts.html'">
		</li>
	</ul>

	<ul
		ng-if="columnCount === 1"
		ui-sortable="cellSort">

		<li class="cell"
			ng-repeat="item in cells | orderBy: cellOrder"  
			ng-class="{ 
				parent_addCell : item.addcell === true,
				parent_wristWatch : item.wristwatch === true,
				parent_gaze : item.gaze === true,
				parent_list : item.list === true 
			}"
			ng-if="item.displayed === true && item.list === true"
			ng-include src="'assets/views/listGuts.html'">
		</li>
	</ul>
</div>

<div class="mobile_actions">
	<div class="lineUp" ng-click="mobileAction('up')"></div>
	<div class="lineDown" ng-click="mobileAction('down')"></div>
	<div class="hideKeyboard" ng-click="canWeNotBeFocusedAnymore('hide')"></div>
	<div class="lineIn" ng-click="mobileAction('in')"></div>
	<div class="lineOut" ng-click="mobileAction('out')"></div>
</div>
