<div class="modalCloser"
	ng-click="modalCloser()">
	<div class="crossbar1"></div>
	<div class="crossbar2"></div>
</div>

<div class="text">
	<h1>Finally, v2.0!</h1>

	<p>I've been busy with life and keeping myself sane, which has taken more time than expected from working on this. Still, I've found the occasional minute here and there to make the following changes. There are so many new things here, instead of trying to figure out how far this pushes me forward on v1, I'm just calling this v2:</p>

	<h4>Bugs Fixed</h4>
	<ul>
		<li>bits shouldn't be overwritten anymore, thanks to a more robust, more thoughtful saving function</li>
		<li>'cell death' bug fixed
			<ul>
				<li>when two identical bits existed, angular would shit a brick. it no longer does</li>
			</ul>
		</li>
		<li>deleted cells now stay deleted</li>
	</ul>

	<h4>New Functional Things</h4>
	<ul>
		<li>celsius and fahrenheit temperatures for you silly americans</li>
		<li>12- and 24-hour clock</li>
		<li>a nicer empty field for new users</li>
		<li>a nicer introduction sequence (seriously, go check it out now!)</li>
		<li>omfg new keyboard shortcuts!
			<ul>
				<li>pressing enter in the title now jumps to the first bit of a cell</li>
				<li>bits can be moved up and down, just like the lines in your favorite text editor (did I forget your text editor? <a href="mailto:e@ject.ch?subject=something%27s%20missing&body=hi!%20thanks%20for%20taking%20the%20time%20to%20give%20feedback%2C%20I%20really%20REALLY%20appreciate%20it.%20it%27s%20with%20your%20help%20that%20TRA.JECT%20will%20get%20better!%20feel%20free%20to%20delete%20this%20message%2C%20but%20please%20remember%20that%20no%20input%20is%20too%20small.%20thanks%20again!">let me know.</a>)</li>
			</ul>
		</li>

		<li>omfg pasting!
			<ul>
				<li>paste in multi-lined content, and each line gets divvied up into its own bit</li>
				<li>paste in a link, and the app will fetch the name of the page the link points to</li>
			</ul>
		</li>
		<li>cells now expand when their content gets too big</li>
		<li>cell sizes are now remembered across all screen sizes</li>
		<li>quick update sequence to bring you and your data into the 24th 1/2 century – did you miss it?</li>
		<li>hovering over the weather reveals wherever the app is pretty sure you are</li>
	</ul>

	<h4>New Aesthetic Things</h4>
	<ul>
		<li>the sidebar is a little more lovely</li>
		<li>so is the password changer</li>
		<li>grid now centers better on field</li>
	</ul>

	<h4>The Road Ahead (maybe)</h4>
	<ul>
		<li>v3 - it's time to make the switch to FireBase. I'd love to keep using hoodie, but it's proven too unstable for full fledged production. I'm gonna try to keep your data intact, but I make no guarantees. I'll keep you posted. <br /><br />Also, once we're on Firebase, I'll be 'going public' with this, so with a little luck you'll be seeing more updates with greater frequency.</li>
		<li>v4 - mobile / tablet version?</li>
		<li>v5 - image integration?</li>
		<li>v6 - calendar integration?</li>
	</ul>

	<p>Questions? Comments? How's my driving? Do you like Tra.ject? Do you hate Tra.ject? Got something else you wanna talk about? <a href="mailto:e@ject.ch?subject=hi!">Get in touch.</a></p>
</div>