{{#cells}}
	<li class="cell" id="cell_{{id}}" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div class="cellHead">
			<input class="title" type="text"></input>
			<span class="grab"></span>
		</div>
		<div class="cellEdit" id="cellEdit_{{id}}"></div>
	</li>
{{/cells}}
